image: python:3.11
stages:
  - build
  - test
  - deploy

variables:
  DJANGO_SETTINGS_MODULE: "config.settings"
  MYSQL_DATABASE: "tek_newws_db"
  MYSQL_ROOT_PASSWORD: "ehsan1382"
  

services:
  - mysql:latest



before_script:
  - C:\Users\ehsan\AppData\Local\Programs\Python\Python311\python.exe -m venv venv
  - venv\Scripts\activate

build:
  stage : build
  script :
    - C:\Users\ehsan\AppData\Local\Programs\Python\Python311\Scripts\pip.exe install --upgrade pip
    - C:\Users\ehsan\AppData\Local\Programs\Python\Python311\Scripts\pip.exe install -r requirements.txt
    - C:\Users\ehsan\AppData\Local\Programs\Python\Python311\python.exe manage.py makemigrations
    - C:\Users\ehsan\AppData\Local\Programs\Python\Python311\python.exe manage.py migrate


test:
  stage : test
  script : 
    - C:\Users\ehsan\AppData\Local\Programs\Python\Python311\Scripts\pip.exe install --upgrade pip
    - C:\Users\ehsan\AppData\Local\Programs\Python\Python311\Scripts\pip.exe install -r requirements.txt
    - C:\Users\ehsan\AppData\Local\Programs\Python\Python311\Scripts\pytest.exe news/test/test_news.py

deploy:
  stage : deploy
  script : 
    - C:\Users\ehsan\AppData\Local\Programs\Python\Python311\Scripts\pip.exe install --upgrade pip
    - C:\Users\ehsan\AppData\Local\Programs\Python\Python311\Scripts\pip.exe install -r requirements.txt
    - C:\Users\ehsan\AppData\Local\Programs\Python\Python311\python.exe manage.py runserver
  


