version: '3.8'

services:

  db:
    image: mysql:8
    environment:
      MYSQL_DATABASE: 'tek_news2'
      MYSQL_USER: 'root'
      MYSQL_PASSWORD: 'ehsan1382'
      MYSQL_ROOT_PASSWORD: 'ehsan1382'

    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    command: bash -c " python3 manage.py migrate && scrapy runspider zoomit_scrap/zoomit_scrap.py && python3 manage.py runserver 0.0.0.0:8000 "

  pytest:
    build: .
    depends_on:
      - db
    command: pytest
  redis:
    image: redis:latest
    ports:
      - 6379:6379
  celery:
    build: .
    depends_on:
      - backend
      - redis
    command: celery -A config worker --loglevel=info

  celery_beat:
    build: .
    depends_on:
      - celery
    command: celery -A config beat
volumes:
  db_data:

    # version: '3.8'

    # services:
    #   db:
    #     image: mysql:8
    #     environment:
    #       MYSQL_DATABASE: 'tek_news2'
    #       MYSQL_USER: 'root'
    #       MYSQL_PASSWORD: 'ehsan1382'
    #       MYSQL_ROOT_PASSWORD: 'ehsan1382'
    #     volumes:
    #       - db_data:/var/lib/mysql

    #   backend:
    #     build: .
    #     ports:
    #       - "8000:8000"
    #     depends_on:
    #       - db
    #     command: bash -c "python3 manage.py migrate && scrapy runspider zoomit_scrap/zoomit_scrap.py && python3 manage.py runserver 0.0.0.0:8000 && celery -A config beat --loglevel=info"

    #   redis:
    #     image: redis:latest
    #     ports:
    #       - 6379:6379

    #   celery:
    #     build: .
    #     command: celery -A config worker --loglevel=info
    #     depends_on:
    #       - backend
    #       - redis

    # volumes:
    #   db_data:
